{
  "overrides": [
    {
      "files": ["homelab/**/*.yaml", "homelab/**/*.yml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "proseWrap": "preserve"
      }
    }
  ]
}
